/* html {
  background: rgb(150,144,255);
  background: linear-gradient(90deg, rgba(150,144,255,1) 0%, rgba(158,239,255,1) 100%);
} */

h1 {
  font-family: Heebo;
  font-weight: 900;
}

p {
  font-family: lato;
}